.authPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  position: relative;
  z-index: 1;
}

/*  TABLET  */
@media (min-width: 768px) {
  .authPage {
    padding: 36px 24px;
  }
}

/*  DESKTOP  */
@media (min-width: 1024px) {
  .authPage {
    padding: 48px 24px;
  }
}